#upperCase {
    display: block;
    margin-top: 10px;
    background-color: yellowgreen;
}

#oldString {
    border: 2px solid #000000;
    width: 200px;
    height: 100px;
}

#newString {
    display: block;
    margin-top: 15px;
    border: 2px solid #000000;
    width: 200px;
    height: 100px;
}